.loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: white;
    z-index: 10000;
}

.loader>.large-header {
    background-image: #282828;
}

.main>.og-grid>li>a>img {
    width: 250px;
}

.about-us-desc {
    margin: 0px;
    text-align: center;
    font-weight: 400;
    font-size: 1.35em;
}

body {
    overflow: hidden;
}

.parallax-event>div>p,
.parallax-event>div>h2 {
    font-weight: 800;
    color: white;
}

.parallax-event>div>.text-uppercase {
    color: #ddd;
}